<div>
  <h1 class="title">Carrito de Compras</h1>
</div>
<div>
  <div>
    <div id="seccionCarrito" class="text-light p-5 ms-4 p-3 rounded bg-black"
      style="min-width: 70rem; max-width: 300px;">
      <div id="detalleCarrito"></div>
    </div>
  </div>
  <br>
  <hr>
  <div class="btnCart mt-3 text-center">
    <a href="/"><button type="button" class="btn btn-dark">Regresar a Tienda</button></a>
    <a href="#"><button type="button" class="btn btn-dark">Realizar Compra</button></a>
  </div>
</div>

<script src="/js/cart.js"></script>