<div class="realtime">
  <div class="realtimeproducts">
    <h3>MANEJO DE PRODUCTOS EN TIEMPO REAL</h3>
    <div class="products-container-rtp"></div>
  </div>
  
  <div class="events">
    <div class="add">
      <h2>Agregar Productos</h2>
      <h4>*Todos los campos son obligatorios, Porfavor no se introduzcan datos incorrectos</h4>
      <div class="formulario-add">
        <input id="add-title" type="text" placeholder="Titulo" />
        <input id="add-description" type="text" placeholder="Descripcion" />
        <input id="add-price" type="number" placeholder="Precio" />
        <input id="add-code" type="text" placeholder="Codigo" />
        <input id="add-stock" type="number" placeholder="Stock" />
        <input id="add-category" type="text" placeholder="Categoria" />
        <button id="button-add" onclick="addProduct()">Agregar Nuevo Producto</button>
      </div>
    </div>
  </div>
  <footer>
    <p>© 2025 Preentrega2</p>
  </footer>
  <script src="/socket.io/socket.io.js"></script>
  <script src="./realTimeProducts.js"></script>
</div>
